/* only used for background overlay not needed for centering */
/* #cover{
  background-color: #FEF9E7;
} */
.container-fluid{
  background-image: url("../../assets/images/other_bg.svg");
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
form{
  background-color: #FCF3CF ;
  border-radius: 10px;
  padding: 17px 12px 13px 17px;
}
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #FCF3CF ;
  z-index: -1;
  border-radius: 10px;
}
.form-control{
  float: none;
  text-align: center;
}
.btn.btn-info.btn-lg.btn-block.btn-rounded.btn-default.text-uppercase.waves-effect.waves-light{
  background-color: #F7DC6F ;
  border: none;
}