<section id="cover" class="min-vh-100">
  <div id="cover-caption">
    <div class="container-fluid">
      <div class="row" >
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 mx-auto text-center form p-4">
        <form [formGroup]="signupForm" (ngSubmit)="signup()" class="form-horizontal form-material" id="loginform">
          <a href="javascript:void(0)" class="text-center db logo-container">
          </a>
          <h3 class="box-title m-t-40 m-b-0">Report Now</h3>
          <small>Please report here if any black marketing cases are found within your locality.</small>
          <div class="form-group m-t-20">
            <div class="col-xs-12">
              <app-form-error-wrapper [control]="signupForm.controls['productName']" [controlName]="'productName'" [apiErrorType]="'productName'">
                <input class="form-control" type="text" formControlName="productName" placeholder="What is the product?">
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <app-form-error-wrapper [control]="signupForm.controls['location']" [controlName]="'location'" [apiErrorType]="'location'">
                <input class="form-control" type="text" formControlName="location" placeholder="Please provide us your location">
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <app-form-error-wrapper [control]="signupForm.controls['thenPrice']" [controlName]="'thenPrice'" [apiErrorType]="'thenPrice'">
                <input class="form-control" type="text" formControlName="thenPrice" placeholder="What was the price earlier?">
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <app-form-error-wrapper [control]="signupForm.controls['nowPrice']" [controlName]="'nowPrice'" [apiErrorType]="'nowPrice'">
                <input class="form-control" type="text" formControlName="nowPrice" placeholder="What was the price now?">
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <app-form-error-wrapper [control]="signupForm.controls['comments']" [controlName]="'comments'" [apiErrorType]="'comments'">
                <textarea class="form-control" rows="2" formControlName="comments" placeholder="AnyComments?"></textarea>
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block btn-rounded btn-default text-uppercase waves-effect waves-light" [disabled]="signupForm.invalid || isLoading">
                <app-button-loader [isLoading]="isLoading" [label]="'Submit'"></app-button-loader>
              </button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
