<div class="container" id="aqiAnchor">
  <h3>Air Quality Monitor</h3>
<p>Nearly a week after the government imposed a temporary lockdown across the nation to contain the spread of the coronavirus (COVID-19), the Kathmandu Valley and other major cities have started to witness a significant improvement in their Air Quality Index (AQI).</p>
  <div class="aqi"  (window:resize)="onResize($event)">
    <google-chart #chart
                  [title]="title"
                  [type]="type"
                  [data]="data"
                  [columnNames]="columnNames"
                  [options]="options"
               >
    </google-chart>
    <p style="font-size: 50%">History data is from Nepal Goverment(http://pollution.gov.np/) and current data is from airvisual.com</p>
    </div>
</div>


