<hr>
<div class="container">
    <div class="footer">
        <h4>COVID-19 Nepal</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="footer-head">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="/hospitalList">Hospital</a>
                    <a href="#">AQI</a>
                </div>
            </div>
            <div class="col-md-6">
                <a href="#"><p>All Rights Reserved @ 2020 Nepal</p></a>
            </div>
        </div>
        
    </div>

</div>
