<div class="container">
    <hr>
    <div class="footer">
        <h4>COVID-19 Nepal</h4>
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-head">
                    <a href="#"><li>Home</li></a>
                    <a href="#"><li>About</li></a>
                    <a href="/hospitalList"><li >Hospital</li></a>
                    <a href="#"><li>AQI</li></a>
                </ul>
            </div>
            <div class="col-md-6">
                <a href="#"><p>All Rights Reserved @ 2020 Nepal</p></a>
            </div>
        </div>
        
    </div>

</div>
