<hr>
<div class="container">
    <div class="footer">        
        <div class="row">
            <div class="col-md-6" id="left">
                <a href="#">CoronaNepal</a>
                <!-- <a href="/hospitalList">Hospital</a> -->
                <!-- <a href="#">AQI</a> -->
            </div>
            <div class="col-md-6" id="right">
                <a href="#"><p>All Rights Reserved @ 2020 Nepal</p></a>
            </div>
        </div>
        <div class="last">
            <p>Our data source are MOHP Nepal,WOrldometer,DOE Nepal, Airvisual.com
                We are trying to provide as much accurate information as possible, 
                if any error is found please report in the chat or
                 mail at admin@thiscovidnepal.com</p>
        </div>
        
    </div>

</div>
