<nav>
  <div id="logo" href="#">
    <a href="#">CoronaNepal</a>
  </div>

  <label for="drop" class="toggle" >Menu</label>
  <input type="checkbox" id="drop" />
      <ul class="menu">
          <li><a href="#">Home</a></li>
                  <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Report
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/misinformation">Misinformation</a>
            <a class="dropdown-item" href="/blackmarketing">Blackmarketing</a>
            <a class="dropdown-item" href="/coronaCases">CoronaCases</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            View
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/getmisinformation">Misinformation</a>
            <a class="dropdown-item" href="/getblackmarketing">Blackmarketing</a>
            <a class="dropdown-item" href="/getcoronaCases">CoronaCases</a>
          </div>
        </li>
          <!-- <li><a href="/hospitalList">Hospital List</a></li> -->
          <!-- <li><a href="/AQIVisualize">AQI</a></li> -->
          <li><a href="#">Contact Us</a></li>
          <!-- <li><a href="#">About</a></li> -->
      </ul>
  </nav><hr>
