
<div class="card-columns">
  <div class="card   text-center p-3"   *ngFor = "let prod of suspectedcases; let i=index" style="position: unset">
    <div class="card-body text-{{textbox[i%4]}}-50 bg-{{colorbox[(i%4)]}}" >
      <h4 class="card-text">Age:{{prod.age}}</h4>
      <h5 class="card-text">Temperatue:{{prod.bodyTemperature}}</h5>
      <h5 class="card-text">Gender:{{prod.gender}}</h5>
      <h5 class="card-text">Symptoms:{{prod.symptoms}}</h5>
      <h5 class="card-text">Period:{{prod.period}}</h5>
      <h5 class="card-text">ContactFromOutside:{{prod.contactFromOutside}}</h5>
      <p class="card-footer text-muted">{{prod.created_date}}</p>
    </div>
  </div>
</div>
