<section id="cover" class="min-vh-100">
  <div id="cover-caption">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 mx-auto text-center form p-4">
        <form [formGroup]="signupForm" (ngSubmit)="signup()" class="form-horizontal form-material" id="loginform">
          <a href="javascript:void(0)" class="text-center db logo-container">
          </a>
          <h3 class="box-title">Report Here</h3>
          <small>Please report if you know some misinformation</small>
          <div></div>
          <div class="form-group">
            <div class="col-sm-12">
              <app-form-error-wrapper [control]="signupForm.controls['mInformation']" [controlName]="'mInformation'" [apiErrorType]="'mInformation'">
                <input class="form-control" type="text" formControlName="mInformation" placeholder="What is the information?">
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-12">
              <app-form-error-wrapper [control]="signupForm.controls['link']" [controlName]="'link'" [apiErrorType]="'link'">
                <input class="form-control" type="text" formControlName="link" placeholder="Please provide us a link for information">
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-12">
              <app-form-error-wrapper [control]="signupForm.controls['source']" [controlName]="'source'" [apiErrorType]="'source'">
                <input class="form-control" type="text" formControlName="source" placeholder="What is the source?">
              </app-form-error-wrapper>
            </div>
          </div>

          <div class="form-group text-center">
            <div class="col-sm-12">
              <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" [disabled]="signupForm.invalid || isLoading">
                <app-button-loader [isLoading]="isLoading" [label]="'Submit'"></app-button-loader>
              </button>
            </div>
          </div>

        </form>
        </div>
      </div>
    </div>
    </div>
  </section>
