
  #cover {
    /* background: #F4F6F6  url('../../assets/images/corona.jpg') center center no-repeat; */
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}
.container-fluid{
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
form{
  background-color: #FCF3CF ;
  border-radius: 10px;
  padding: 17px 12px 13px 17px;
}
/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
    border-radius: 10px;
}
  
.form-control{
  float: none;
  text-align: center;
}

  