<div class="container">
  <div class="row">
    <div class="col-sm">

      <div class="suspected-container" *ngIf="ready">
        <h2>Grocery</h2>
        <input  class="form-control" list="age1"  type="email" [(ngModel)]="local1" placeholder="Location . . "/>
        <datalist id="age1">
          <option *ngFor="let local of locations1" [value]="local"> </option>
        </datalist>
        <div class="card"   *ngFor = "let prod of grocery | essentialFilter:local1; let i=index">
          <div class="card-body">
            <h6 class="card-text text-left suspected-div-title">Company: <span class="suspected-div-text">{{prod.Company}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Category: <span class="suspected-div-text">{{prod.Category}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Minimum Order: <span class="suspected-div-text">{{prod.minimum_order}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Delivery Locations: <span class="suspected-div-text">{{prod.arraylocation.toString()}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Link: <span class="suspected-div-text">{{prod.link}}</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="suspected-container" *ngIf="ready">
        <h2>Fruits</h2>
        <input class="form-control" list="age2"  type="email"  placeholder="Location . ." [(ngModel)]="local2"/>
        <datalist id="age2">
          <option *ngFor="let local of locations2" [value]="local" ></option>
        </datalist>
        <div class="card"   *ngFor = "let prod of fruits | essentialFilter:local2; let i=index">
          <div class="card-body">
            <h6 class="card-text text-left suspected-div-title">Company: <span class="suspected-div-text">{{prod.Company}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Category: <span class="suspected-div-text">{{prod.Category}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Minimum Order: <span class="suspected-div-text">{{prod.minimum_order}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Delivery Locations: <span class="suspected-div-text">{{prod.arraylocation.toString()}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Link: <span class="suspected-div-text">{{prod.link}}</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="suspected-container" *ngIf="ready">
        <h2>Medicines</h2>
        <input class="form-control" list="age3"  type="email"  placeholder="Location . ." [(ngModel)]="local3"/>
        <datalist id="age3">
          <option *ngFor="let local of locations3" [value]="local" ></option>
        </datalist>
        <div class="card"   *ngFor = "let prod of medicine |essentialFilter:local3; let i=index">
          <div class="card-body">
            <h6 class="card-text text-left suspected-div-title">Company: <span class="suspected-div-text">{{prod.Company}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Category: <span class="suspected-div-text">{{prod.Category}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Minimum Order: <span class="suspected-div-text">{{prod.minimum_order}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Delivery Locations: <span class="suspected-div-text">{{prod.arraylocation.toString()}}</span></h6>
            <h6 class="card-text text-left suspected-div-title">Link: <span class="suspected-div-text">{{prod.link}}</span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





