* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #257BA0;
}
.panels {
  display: flex;
flex-direction: row;
  /* display: grid; */
  min-height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 578px) {
  .panels {
    display: flex;
  flex-direction: column;
    /* display: grid; */
    min-height: 100vh;
    overflow: hidden;
  }
}
.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  background-position: center;
  background-size: cover;
}

div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  width: 100%;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  text-align: center;
  transition: transform .5s;
  user-select: none;
}
div > p:first-child {
  transform: translateY(-100%);
}
/*div > p:nth-child(2) {*/
/*  font-size: 3em;*/
/*  text-transform: uppercase;*/
/*  font-weight: bold;*/
/*}*/
/*div > p:last-child {*/
/*  transform: translateY(100%);*/
/*}*/

/* Classes toggled in JS */
.panel.open {
  flex: 3;
  font-size: 1.5em;
}
/*div.active > p:first-child {*/
/*  transform: translateY(0);*/
/*}*/
/*div.active > p:last-child {*/
/*  transform: translateY(0);*/
/*}*/
/*.overlay.active:after {*/
/*  background: rgba(0, 0, 0, .7);*/
/*}*/

/* Images in CSS as background-images */
.panel1 { background-image: url('https://cdn.shopify.com/s/files/1/0049/7428/0790/collections/hoodies-350451_2100x.jpg?v=1563558538'); }
.panel2 { background-image: url('https://cdn.shopify.com/s/files/1/0049/7428/0790/collections/hoodies-350451_2100x.jpg?v=1563558538'); }
.panel3 { background-image: url('https://cdn.shopify.com/s/files/1/0049/7428/0790/collections/womens-tanks-652176_2100x.jpg?v=1563558678'); }

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: .5em;
  }
}
.save_button {
  width: 80%;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
}

.modal-content{
margin-top: 30px;
}

.dialog-body{
  padding: 60px;
  font-family: AvertaBold;
overflow: hidden;
}

.button-mis{
  height: 50;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px #9cced9;
  border: 2px solid#31A2B8;
  background-color: #31A2B8;
  padding: 12px 36px;
  font-size: 16px;
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  text-decoration:none
}

.button-mis:hover{
  background-color: #fff;
  border: 2px solid #31A2B8;
  color: #31A2B8;
}


.button-view{
  height: 50;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px #104b58;
  border: 2px solid#31A2B8;
  background-color: #31A2B8;
  padding: 8px 36px;
  /* font-size: 24px; */
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  text-decoration:none;
  z-index: 1;
  font-family: AvertaLight;

}

.button-view:hover{
  background-color: #217685;
  border: 2px solid #217685;
  color: #ffffff;
}


.button-report{
  height: 50;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px #860d0d;
  border: 2px solid#c71818;
  background-color: #c71818;
  padding: 8px 36px;
  /* font-size: 24px; */
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  text-decoration:none;
  z-index: 1;
  font-family: AvertaLight;

}

.button-report:hover{
  background-color: #a31111;
  border: 2px solid #a31111;
  color: #ffffff;

}

.button-world{
  height: 50;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px #183807;
  border: 2px solid#179e32;
  background-color: #179e32;
  padding: 8px 36px;
  
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  text-decoration:none;
  z-index: 1;
  font-family: AvertaLight;

}

.button-world:hover{
  background-color: #348d04;
  border: 2px solid #348d04;
  color: #ffffff;
}

@media only screen and (max-width: 1000px) {
.save_button{
  font-size: 18px;
}
}

@media only screen and (max-width: 800px) {
  .save_button{
    font-size: 16px;
  }
  }