* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #257BA0;
}
.corona{
  margin: 10px auto;
  text-align: center;
} 
.corona h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #D35400;
}
.corona h6{
  font-family: sans-serif;
  color: #E59866; 
}
.subnav{
  /* background-color:#FFFFE0; */
	list-style-type: none;
  text-align: center; 
  margin: 0;
}
.subnav li{
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}
.corona-text p{
  padding: 20px 150px 0 150px;
  text-align: left;
  font-family: sans-serif;
  font-size: 1rem;
  color: #515A5A;

}
.scroll-down{
  margin: 0 auto;
  text-align: center;
}

h3{
  text-align: right;  
  color: #7B241C;
}

@media only screen and (max-width: 767px) {
  .corona-text p{
    padding: 10px;
    text-align: left;
    font-family: sans-serif;
    font-size: 1rem;
    color: #515A5A;    
  }
}
.save_button {
  width: 100%;
  text-align: right;
  cursor: pointer;
  z-index: 1;
  font-size: 17px;
  margin-left: 80px;
}

.modal-content{
margin-top: 60px;
}

.dialog-body{
  padding: 20px;
  font-family: AvertaBold;
  overflow: hidden;
}

.button-mis{
  height: 50;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px #5DADE2;
  border: 2px solid#5DADE2;
  background-color: #5DADE2;
  padding: 12px 36px;
  font-size: 16px;
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  text-decoration:none
}

.button-mis:hover{
  background-color: #fff;
  border: 2px solid #85C1E9 ;
  color: #85C1E9 ;
}


.button-view{
  height: 50;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px #5DADE2;
  border: 2px solid #5DADE2 ;
  background-color: #5DADE2;
  padding: 8px 36px;
  /* font-size: 24px; */
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  text-decoration:none;
  z-index: 1;
  font-family: AvertaLight;

}

.button-view:hover{
  background-color: #85C1E9 ;
  border: 2px solid #85C1E9 ;
  color: #ffffff;
}


.button-report{
  height: 50;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px #CD6155;
  border: 2px solid#CD6155;
  background-color: #CD6155;
  padding: 8px 36px;
  /* font-size: 24px; */
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  text-decoration:none;
  z-index: 1;
  font-family: AvertaLight;

}

.button-report:hover{
  background-color: #EC7063;
  border: 2px solid #EC7063;
  color: #ffffff;

}

.button-world{
  height: 50;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px #D0D3D4;
  border: 2px solid#B3B6B7 ;
  background-color: #B3B6B7 ;
  padding: 8px 36px;
  
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  text-decoration:none;
  z-index: 1;
  font-family: AvertaLight;

}

.button-world:hover{
  background-color: #58D68D;
  border: 2px solid #58D68D;
  color: #ffffff;
}

@media only screen and (max-width: 1000px) {
.save_button{
  font-size: 18px;
}
}

@media only screen and (max-width: 800px) {
  .save_button{
    font-size: 16px;
  }
  }