<div class="container">
  <div class="corona">
    <h2>The Coronavirus OutBreak in Nepal</h2>
    <h6>Updated Date: {{this.date}}</h6>
  </div>
  <div class="subnav">
    <ul>
      <li><a>Map</a></li>
      <li><a>Countrytable</a></li>
      <li><a>CoronaFear</a></li>
    </ul>
  </div>
  <div class="corona-text">
    <p>The Corona pandemic has sickened more than one million people arount the globe according
      to the official counts.the virus has been detected in 172 countries including Nepal.The Corona pandemic has sickened more than one million people arount the globe according
      to the official counts.the virus has been detected in 172 countries including Nepal.The Corona pandemic has sickened more than one million people arount the globe according
      to the official counts.the virus has been detected in 172 countries including Nepal.</p>
  </div>
  <div class="scroll-down">
    <button type="button" class="btn btn-outline-warning" (click)="gotoMap()"> Click For More Details</button>
  </div>
<!-- <div class="backkground"> -->
  <!-- <div class="row">
    <div class="col-lg-3">
      <div class='panels'><br>
        <h3>COVID-19 Alert</h3>
        <div class='panel  panel1'>
          <div class="save_button">
            <button type="button" class="button-world" (click)="openit2()">World with Covid </button>
          </div>
        </div>
        <div class='panel  panel2'>
          <div class="save_button">
            <button type="button" class="button-report" (click)="openit()">Report </button>
          </div>
        </div>
        <div class='panel  panel3'>
          <div class="save_button">
            <button type="button" class="button-view" (click)="openit1()">View </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <img src="../../assets/images/whiteworld.jpg">
    </div>
  </div>
</div> -->

</div>
<script type="text/javascript" async="" src="https://www.google-analytics.com/ga.js"></script><script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7243260-2']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<ng-template #content let-modal style="border-radius: 24px;">
  <div class=" dialog-body">
    <div class="col text-center">
      <h4> What do you want to report?</h4>
      <div class="btn-group-vertical">
        <a href="/misinformation"  class="button-mis mt-3" title="Report Misinformation">

            Misinformation
        </a>
        <a href="/blackmarketing" class="button-mis mt-3" title="Report Black Marketing">

            Black Marketing

        </a>
        <a href="/suspectedcase" class="button-mis mt-3" title="Report Suspected Cases">
            Suspected Cases
        </a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-body dialog-body">
    <div class="col text-center">
      <h5> What do you want to view?</h5>
      <div class="btn-group-vertical">
        <a href="/getmisinformation"  class="button-mis mt-3" title="View Misinformation">
            Misinformation
        </a>
        <a href="/getblackmarketing" class="button-mis mt-3" title="View Black Marketing">
            Black Marketing
        </a>
        <a href="/getsuspectedcase" class="button-mis mt-3" title="View Suspected Cases">
            Suspected Cases
        </a>
      </div>
    </div>
  </div>
</ng-template>
