<div class="container">
  <div class="corona">
    <h2>The Coronavirus OutBreak in Nepal</h2>
    <h6>Updated Date: {{this.date}}</h6>
  </div>
  <div class="subnav">
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="gotoMap()"> Map</button>
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="gotoVisualize()"> CountryTable</button>
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="gotoCoronaFear()"> CoronaFear</button>
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="gotoAqi()"> AQI</button>
  </div>
  <div class="corona-text">
    <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered Coronavirus.The Corona pandemic has sickened more than one million people around the globe according
      to the official counts.The virus has been detected in 172 countries including Nepal.The global COVID-19 coronavirus pandemic was confirmed to have spread to Nepal when its first case was confirmed in Kathmandu on 24 January 2020.</p>
  </div>
  <div class="scroll-down">
    <button type="button" class="btn btn-outline-warning" (click)="gotoMap()"> Click For More Details</button>
  </div>

</div>
<script type="text/javascript" async="" src="https://www.google-analytics.com/ga.js"></script><script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7243260-2']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<ng-template #content let-modal style="border-radius: 24px;">
  <div class=" dialog-body">
    <div class="col text-center">
      <h4> What do you want to report?</h4>
      <div class="btn-group-vertical">
        <a href="/misinformation"  class="button-mis mt-3" title="Report Misinformation">

            Misinformation
        </a>
        <a href="/blackmarketing" class="button-mis mt-3" title="Report Black Marketing">

            Black Marketing

        </a>
        <a href="/suspectedcase" class="button-mis mt-3" title="Report Suspected Cases">
            Suspected Cases
        </a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-body dialog-body">
    <div class="col text-center">
      <h5> What do you want to view?</h5>
      <div class="btn-group-vertical">
        <a href="/getmisinformation"  class="button-mis mt-3" title="View Misinformation">
            Misinformation
        </a>
        <a href="/getblackmarketing" class="button-mis mt-3" title="View Black Marketing">
            Black Marketing
        </a>
        <a href="/getsuspectedcase" class="button-mis mt-3" title="View Suspected Cases">
            Suspected Cases
        </a>
      </div>
    </div>
  </div>
</ng-template>
