<div class="container-fluid">
  <div class="head-text">
    <h3>Black Market Cases:</h3>
    <p>The cases mentioned below are black marketing cases where prices of essential
       commodities have skyrocketed due to hoarding and black marketing by traders,
       forcing people to pay double even for baby food. These activities, if prevailing in our locality
       must be complained to the police authority as per the Government legal authorities decision.
      </p>
  </div>
  <div class="blackmarketing-container" *ngIf="marketing">
    <div class=" text-center p-3" *ngFor = "let prod of blackMarketings; let i=index" style="position: unset">
      <div class="card-body blackmarketing-div" >
        <h6 class="card-text text-left blackmarketing-div-title">ProductName:<span class="blackmarketing-div-text">{{prod.productName}}</span></h6>
        <h6 class="card-text text-left blackmarketing-div-title">Location: <span class="blackmarketing-div-text">{{prod.location}}</span></h6>
        <h6 class="card-text text-left blackmarketing-div-title">Old Price: <span class="blackmarketing-div-text">{{prod.thenPrice}}</span></h6>
        <h6 class="card-text text-left blackmarketing-div-title">New Price: <span class="blackmarketing-div-text">{{prod.nowPrice}}</span></h6>
        <h6 class="card-text text-left blackmarketing-div-title"><span class="blackmarketing-div-text">{{prod.comments}}</span></h6>
        <p class="card-text text-left blackmarketing-div-title"><span class="blackmarketing-div-text">{{prod.created_date}}</span></p>
      </div>
    </div>
  </div>
  <div *ngIf="!marketing">
    <div class="loading">Loading&#8230;</div>
  </div>
</div>
