
<div class="blackmarketing-container">
  <div class=" text-center p-3"   *ngFor = "let prod of blackMarketings; let i=index" style="position: unset">
    <div class="card-body blackmarketing-div" >
      <h5 class="card-text text-left blackmarketing-div-title">ProductName: {{prod.productName}}</h5>
      <h5 class="card-text text-left blackmarketing-div-text">Location: {{prod.location}}</h5>
      <h5 class="card-text text-left blackmarketing-div-text">Old price: {{prod.thenPrice}}</h5>
      <h5 class="card-text text-left blackmarketing-div-text">New Price: {{prod.nowPrice}}</h5>
      <h5 class="card-text text-left blackmarketing-div-text">{{prod.comments}}</h5>
      <p class=" text-muted text-left blackmarketing-div-time">{{prod.created_date}}</p>
    </div>
  </div>
</div>
