.visualize{
    overflow:hidden;
    margin-top: 70px;
}
.visualize h3{
    font-family: Montserrat;
    color: #162C69;
    font-weight: bold;
    font-size: 1.68rem;
    font-style: inherit;
    text-align: center;
}
.visualize p{
    font-family: sans-serif;
    font-size: 1rem;
    color: #162C69;
    text-align: center;
}
.card{
    background-color: lightsalmon;
}
.card.text-center.mb-3.w-100{
    margin: 0 auto; /* Added */
    float: none; /* Added */
}
.card-header.text-white{
    font-size: 15px;
}
.list-group.list-group-flush .list-group-item{
font-size: 0.9em;
}

@media only screen and (max-width: 767px){
    .visualize h3{
        font-size: 1.35rem;
        text-align: left;
    }
    .visualize p{
        font-size: 1rem;
        text-align: left;
    }
    .card-header.text-white{
       text-align: left;
    }
    .list-group.list-group-flush .list-group-item{
        text-align: left;
    }
    
}