
<div class="container">
  <div class="visualize" id="CoronaAnchor">
    <h3>Corona Fear in Nepal</h3>
    <p>The primary duty of medical professionals is to provide care to all the patients who come to them without
      any discrimination and to do the best to save people’s lives. This is their social as well as professional duty.
      But ever since the number of people infected with COVID-19 gradually started to go up in Nepal, many doctors across the country,
      including in Kathmandu valley, have started refusing to attend to patients with fever and dry cough.</p>
    <div class="row" *ngIf="isDataAvailable && thisdata">
      <div class="col-md-6">
          <google-chart #googleChartComponent (select)="onSelect($event)" [title]="chart.title" [type]="chart.type" [data]="chart.data" [options]="chart.options" [columnNames]="chart.columns" >
          </google-chart>
      </div>
    <div class="col-md-6 align-self-center">
      <div class="card text-center mb-3 w-100">
        <div class="card-header text-white">Health Stats</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Death due to Corona:{{this.Cdeath}}</li>
          <li class="list-group-item">Death due to fear of Corona:{{this.death}}</li>
          <li class="list-group-item">Highly Affected due to Corona:{{this.Haffected}}</li>
          <li class="list-group-item">Affected due to Corona:{{this.affected}}</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
      </div>
