<div class="container-fluid">
<div class="misinformation-container" *ngIf="marketing">
<div class=" text-center p-3"   *ngFor = "let prod of misinformation; let i=index" >
  <div class="card-body misinformation-div"  >
    <h4 class="card-text misinformation-div-title" >Source:{{prod.source}}</h4>
    <h5 class="card-text misinformation-div-text" >{{prod.mInformation}}</h5>
    <div class="card-body ">
      <a (click)="gotoUrl(prod.link)" class="card-link misinformation-div-goto" >Go to link</a>
    </div>
    <p class="text-muted misinformation-div-time" >{{prod.created_date}}</p>
  </div>
</div>
</div>

<div *ngIf="!marketing">
  <div class="loading">Loading&#8230;</div>
</div>
</div>



