<div class="misinformation-container">
<div class=" text-center p-3"   *ngFor = "let prod of misinformation; let i=index" >
  <div class="card-body card-div"  >
    <h4 class="card-text card-div-title" >Source:{{prod.source}}</h4>
    <h5 class="card-text card-div-text" >{{prod.mInformation}}</h5>
    <div class="card-body ">
      <a (click)="gotoUrl(prod.link)" class="card-link card-div-goto" >Go to link</a>
    </div>
    <p class=" text-muted card-div-time " >{{prod.created_date}}</p>
  </div>
</div>
</div>



